

body {
color: white;
background-image: url("atmosphereBg3.jpg");
background-size: cover;
background-attachment: fixed;
}
h1 {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Candara', Arial, Calibri, Times, serif;
   text-align: center;
}
h2 {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Candara', Arial, Calibri, Times, serif;
  text-align: center;
}
h3 {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Candara', Arial, Calibri, Times, serif;
  text-align: center;
}
p.normal {
  font-family: 'Candara', 'Lucida Sans Unicode', 'Lucida Grande', Arial, Times, serif;
  color: white;
  text-align: center;
  padding: 0px 10%;
}
a.minilink:link {
  color: white;
  text-decoration: underline;
}
a.minilink:visited {
  color: white;
  text-decoration: underline;
}
a.minilink:hover {
  color: white;
  text-decoration: underline;
}
a.minilink:active {
  color: white;
  text-decoration: underline;
}
btn {
  align: center;
  text-align: center;
  
}
.eee {
  font-family: 'Candara', 'Lucida Sans Unicode', 'Lucida Grande', Arial, Times, serif;
  text-decoration: none;
  color: black;
  background-color: aliceblue;
  padding: 1% 1%;
}

p.funfact {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Candara', Arial, Times, serif;
  color: black;
  background-color: blanchedalmond;
  padding: 1% 1%;
  
  text-align: center;

}